:root {
  --dunkinOrange: rgb(245, 98, 0);
  --whiteText: white;
  --pink: rgb(225, 19, 131);
  --black: black;
  --shadowColor: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: dunkin-sans;
  src: url(/fonts/font1.woff2);
  font-weight: 900;
}

body {
  margin: 0;
}

header nav {
  font-family: dunkin-sans;
  background-color: var(--dunkinOrange);
  position: sticky;
  display: flex;
  align-items: center; 
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 0.4em 0;
}

header nav img {
  width: 10em;
  height: 2em;
  margin: 1em 0.6em 1em 2em;
}

ul {
  display: flex;
  list-style: none;
  width: 100rem; /* Zorgt dat margin-left:auto werkt */
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--whiteText);
  text-decoration: none;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
}

li:nth-child(6) {
  margin-left: auto; /* duwt dit item en alles erna naar rechts */
}

li:nth-child(6) a {
  color: var(--dunkinOrange);
  background-color: var(--whiteText);
  font-weight: bold;
  padding: .4em 1em;
  font-weight: 900;
  border-radius: 1rem;
  box-shadow: 0 0.1em 0.3em var(--shadowColor);  
}

li:nth-child(7) a {
  color: var(--whiteText);
  background-color: var(--pink);
  font-weight: bold;
  padding: .7em 1em;
  border-radius: 1rem;
  box-shadow: 0 0.1em 0.2em var(--shadowColor);
  margin-right: 3em;
}
